.titulo-principal{
    padding-left: 30px;
}

#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    padding: -34px;
}

.imagenDiferenciales{
    width: 50%;
}

nav {
    top: 110px;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
